{{ range $group := .Groups -}}
{{ if gt ( len $group.Definitions ) 0 -}}

// Handler creates http.Handler with routing matching OpenAPI spec.
{{ if eq $group.Name "" -}}
func Handler(si ServerInterface) http.Handler {
{{ else -}}
func Handler(si {{ $group.Name }}Interface) http.Handler {
{{ end -}}
  return HandlerFromMux(si, chi.NewRouter())
}

// HandlerFromMux creates http.Handler with routing matching OpenAPI spec based on the provided mux.
{{ if eq $group.Name "" -}}
func HandlerFromMux(si ServerInterface, r chi.Router) http.Handler {
{{ else -}}
func HandlerFromMux(si {{ $group.Name }}Interface, r chi.Router) http.Handler {
{{ end -}}
{{range .Definitions}}r.Group(func(r chi.Router) {
  r.Use({{.OperationId}}Ctx)
  r.{{.Method | lower | title }}("{{.Path | swaggerUriToChiUri}}", si.{{.OperationId}})
})
{{end}}
  return r
}

{{ end }}{{/* if gt ( len $group.Definitions ) 0 */}}
{{ end }}{{/* range $group := .Groups */}}
